
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 100px auto 50px;
    min-height: 100vh;
}

header{
    display: flex;
}

main{
    background-color: blue;
}

footer{
    background-color: green;
}

.overskrift-wrapper{
    background-color: rgb(162, 207, 236);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 200px;

    font-family: "Winky Rough", sans-serif;
    font-weight: weight 700;
    font-style: normal;
    font-size: 40px;
}